{#
 # autor Diego Medeiros >
  # version 1.0
  #}

  <!--HEADER-->
  {# prd-bg = background  #}
  <div class="row prd-bg py-2 ">

    <!--CONTAINER  -->
    
    <div class="container-header p-3 d-flex align-items-center gap-4">

    <!--HAMBURGUER-->
  <div class="col-1 d-flex justify-content-end">
    <button class="navbar-toggler first-button"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarToggleExternalContent9"
      aria-controls="navbarToggleExternalContent9"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="animated-icon1">
        <span></span><span></span><span></span>
      </div>
    </button>
    </div>

      {# espaco Logo #}

      <div>
          <div class="logo-principal">
            <a href="#" target="_blank">
              <img src="themes/desafio/img/logo.png " alt="">
            </a>
          </div>    
      </div>

      <div class="container-social d-flex align-items-center">
          
        <!--REDES SOCIAIS  -->
        <div class="redes-sociais-menu d-flex align-items-center">
              <div class="#">
                  <a class="icons instagram-sup" href="#" target="_blank">Instagram</a>
              </div>
              <div class="#">
                  <a class="icons facebook-sup" href="#" target="_blank">Facebook</a>
              </div>
              <div class="#">
                  <a class="icons twitter-sup" href="#" target="_blank">Twitter</a>
              </div>
        </div>          
      </div>  

    </div>
    </div>

  </div>