{#
 # autor Diego Medeiros
 # version 1.1
 # copyright hit 09/2022.
#}

<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
  rel="stylesheet" />

<!-- MDB -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js">
</script>

<div class="collapse" id="navbarToggleExternalContent9">
  <div class="bg-light shadow-3 p-4 col text-center border d-flex justify-content-start flex-wrap">
    {{ page.menuMain }}
  </div>
</div>
