{#
 # page - Front page componente.
 # author Diego Medeiros>
 # version 1.0
 # copyright hit 2022.
#}


{# Header #}
{% include '@hit/header/header.html.twig' %}

<main class= "main-content" data-content="intro"> 
    <div class="lista-noticias-line">
        <a class="lista-noticias" href="./intro" data-move-to="intro">
            INTRODUÇÃO
        </a>
        <a  class="lista-noticias" href="./contato" data-move-to="contato">
            CONTATO
        </a>
    </div>
    <div class="wrap"> 
    {% if page.publicacoes %}
    <section class="container" id="intro">
                <div class="section-container aos-init aos-animate" data-aos="flip-down" data-aos-easing="ease-out-cubic" data-aos-duration="2000">

                    <div class="acesso-links">
                        <h3>Introdução</h3>
                    </div>
                    <div class="container-principal">
                        {{ page.publicacoes }}
                    </div>
                </div>
    </section>
            <hr class="gradiente">
        {% endif %}

        <section class="container" id="contato">
                <div class="section-container aos-init aos-animate" data-aos="flip-down" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="acesso-links">
                        <h3>Contato</h3>
                    </div>
                    <div class="container-principal">
                        <form>
                    <div class="forms">
                            <div class="forms-input">
                                <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nome*" required>
                            </div>
                            <div class="forms-input">
                                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email*" required>
                            </div>
                        </div>    
                                <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Mensagem*"></textarea>
                                <button type="submit" class="btn">Enviar</button>
                        </form>
                    </div>
                </div>
        </section>
    </div>
</main>

  <a class="back2Top" title="Voltar ao topo" href="#">&#10148;</a>
  {# footer #}
  {% include '@hit/footer/footer.html.twig' %}

<div>
