{#
 # autor Diego Medeiros
 # version 1.0
 # copyright hit 2022.
#}

{# prd-bg = background  #}
<div class="row align-items-center prd-bg">
  
  <div class="menu-topo col  text-center">
    {{ page.menuTopo }}
  </div>
</div>